
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7ffd9;
    border-bottom: solid #85a373 3px;
    border-left: solid #85a373 3px;
    border-radius: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7ffd9;
    padding: 30px;
}
